h1 {
    color:rgb(255, 255, 255);
}
p {
    color:rgb(255, 255, 255);
}
body {background-color: rgb(16, 33, 68);}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: larger;
}
  
.tabel {
    COLOR: white;

}

H3{
    COLOR:white;
}
a {
    color: white;
}